---
import Layout from '../layouts/Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';

const pageTitle = 'About me'
const pageDescription = 'Get to know Tiago and his blog'
---

<Layout pageTitle={pageTitle}>
    <Breadcrumbs linkList={[
        {label: "About me"}
    ]} 
    />

    **Welcome to Tiago idea's World!**

**This blog** is a cozy corner of the internet where Tiago Alvarez Schiaffino shares his journey through the realm of technology. From coding adventures to insightful discussions, this blog showcases Tiago's passion for all things tech. 

## About Tiago
Tiago Alvarez Schiaffino // [Tiago Alvarez Schiaffino](https://www.linkedin.com/in/tiago-alvarez-schiaffino/)  // [TiagoAlvarezSchiaffino](https://github.com/TiagoAlvarezSchiaffino)
<div>
	<img class="rounded-full" width="160" src="/User.jpg" title="Tiago Alvarez Schiaffino" />
</div>

### Credits
**Endless support and inspiration:** My relentless determination to overcome challenges, and the unwavering love and encouragement from those who mean the world to me.

    <h1 class="text-3xl font-bold block mb-3"></h1>
</Layout>