---
import Social from "./Social.astro";
import Separator from "./Separator.astro";
---
<Separator />

<div>
    <h3 class="font-bold mb-3">Written by: </h3>
    <div class="flex">
        <img class="w-28 me-5" src="public\UserPhoto.png" alt="Tiago photo">
        <div>
            <h4 class="text-lg font-semibold text-gray-400">Tiago Alvarez Schiaffino</h4>
            <p class="font-medium text-gray-400">Developer | Dreamer | Reader</p>
        </div>
    </div>
</div>