---
import Navigation from "./Navigation.astro";
import AR from "./icons/flags/AR.astro"
---
<header class="flex top-0 flex-col mx-auto z-10 lg:flex-row items-center justify-between mb-10 mt-3">
    <a href="/"><AR class="w-14 rounded-full" alt="Argentina_Flag" /></a>
    
    <Navigation />
</header>
