---
const {prev, next} = Astro.props;
---
<div class="flex justify-center mt-10">
    <p class="font-bold text-lg">
        {
            prev == undefined ? 
                <a class="me-3 text-slate-500" href={prev}>
                    <i></i>
                    Prev.
                </a>
            :
                <a class="me-3 hover:text-violet-300" href={prev}>
                    <i></i>
                    Prev.
                </a>
        }

    </p>
    <p class="font-bold text-lg">
        {
            next == undefined ?
                <a class="me-3 text-slate-500" href={next}>
                    Next.
                    <i></i>
                </a>
            :
                <a class="me-3 hover:text-violet-300" href={next}>
                    Next.
                    <i></i>
                </a>
        }

    </p>
</div>